@import "tailwindcss";

@theme {
  --color-brand-blue: #0069ff; /* DigitalOcean primary blue */
  --color-brand-dark: #031b4e; /* DigitalOcean deep blue text */
  --color-brand-light: #f9fbfd; /* Very light blue/gray background */
}

@custom-variant dark (&:is(.dark *));

@layer base {
  body {
    @apply bg-brand-light dark:bg-slate-900 text-slate-800 dark:text-slate-200 font-sans transition-colors duration-200;
  }
}
